.parrent {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  background-color: transparent;
  box-shadow: -25px 25px 25.7px 0px rgba(16, 15, 15, 0.35);
  overflow: hidden;
  max-height: auto;
  width: auto;            /* let width be driven by image */
  max-width: 100%;  
  
}
.imgdiv img {
  height: auto;
  width: auto;
   object-fit: cover;
  object-position: center;
}
.data_container {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2f6288;
  color: rgb(255, 255, 255);
  height: 33%;
  width: 90%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.data_details{
    height: 90%;
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    
}
.ptitle{
    position: absolute;
  
    top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.pricediv {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 8%;
  padding: 0 5%;
}

.pricediv p {
  margin: 0;
}

