@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Set a global font and background color */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow-x: hidden;
  color: #333;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  
}

/* Links default style */
a {
  text-decoration: none;
  color: inherit;
}

/* Container utility class (optional) */


/* Heading spacing */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

/* Paragraph spacing */


/* Button basic styling (optional utility) */
button {
  cursor: pointer;
}


.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}


